body
{
        background-image:url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/p480x480/65242_133263323551470_1975103289_n.jpg');
        color:yellow;
}

h1
{
        text-align:center;
        font-size:30pt;
        color:blue;
}

p
{
        text-align:center;
        font-size:20pt;
}

#header
{
        background-color:black;
        width:100%;
        height:120px;
        font-size:60pt;
        text-align:center;
        color:blue;
}

#leftcolumn
{
        background-color:blue;
        color:black;
        font-size:45pt;
        width:20%;
        height:700px;
        margin-top:40px;
        float:left;
}

a
{
	color:silver;
}
